--extra-index-url https://download.pytorch.org/whl/cu124
numpy==1.26.4
scipy==1.13.1
matplotlib==3.9.2
imageio==2.36.0
future==1.0.0
six==1.16.0
Cython==3.0.12
h5py==3.12.1
torch==2.6.0+cu124
torchvision==0.21.0+cu124
jupyterlab
ipykernel
